@layout('layout/app')

@section('content')
  <div class="flex justify-center text-center">
    <div>
      <h1 class="m-auto">
        Lo siento, esta pagina no esta disponible
      </h1>
      <p class="text-gray-600 text-sm mt-6">
        El link que intentas acceder puede estar fallando, o la pagina fue removida. Vuelve a Adonisgram
      </p>
    </div>
  </div>
@endsection
